{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template lytix_config/learners_corner

  Lytix Learner’s Corner view.

  The purpose of this template is to show the learners corner.

  Classes required for JS:
  * lytix_planner/planner
  * lytix_activity/activity
  * lytix_diary/diary
  * lytix_timeoverview/timeoverview

  Data attributes required for JS:
  * none

  Context variables required for this template:
  See example below.

  Example context (json):
  {
    "contextid": 0,
    "courseid": 0,
    "userid": 0,
    "isteacher": 0,
    "isstudent": 0,
    "showgrademonitor": 0
  }
}}

<div id="lytix" class="row" style="margin-top: 14px;">

    <div class='col-12 mb-4'>{{> lytix_planner/widget }}</div>

    {{^isteacher}}
    {{#showgrademonitor}}
    <div class='col-12 mb-4'>{{> lytix_grademonitor/widget }}</div>
    {{/showgrademonitor}}
    <div class='col-xl-6 mb-4 mb-xl-0'>{{> lytix_activity/widget }}</div>
    {{/isteacher}}

    {{#isteacher}}
    {{#showgrademonitor}}
    <div class='col-12 mb-4'>{{> lytix_grademonitor/widget }}</div>
    {{/showgrademonitor}}
    <div class='col-xl-6 mb-4 mb-xl-0'>{{> lytix_timeoverview/widget }}</div>
    {{/isteacher}}

    <div class='col-xl-6'>{{> lytix_diary/widget }}</div>

</div>

{{> lytix_config/unload }}
